<div class="booking">
  <h1>Thank you!</h1>
  <h1>Your booking dates are shown below</h1>
  <h2> <i>Start date: </i><%= @booking.start_date.strftime("%b %d, %Y") %></h2>
  <h2> <i> End date: </i><%= @booking.end_date.strftime("%b %d, %Y") %></h2>
</div>
<div id="review-card-booking">
  <%= render 'bookings/review_card_booking', review: @review, booking: @booking %>
</div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 buttons-options">
      <%= link_to "See your bookings", bookings_path, class: 'btn btn-primary' %>
      <%= link_to "Back to listings", cars_path, class: 'btn btn-primary' %>
      <%= link_to "Cancel Booking", booking_path,
            method: :delete,
            data: { confirm: "Are you sure you want to cancel your booking?" }, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
