
<%= simple_form_for(car) do |f| %>
<div class = "textforform">

  <%= f.input :brand %>
  <%= f.input :model %>
  <%= f.input :mileage %>
  <%= f.input :year %>
  <%= f.input :body_type %>
  <%= f.input :location %>
  <%= f.input :transmission %>
  <%= f.input :price %>
 <div class="input-button"> <%= f.submit %> </div>
</div>
<% end %>
