<%= simple_form_for(car) do |f| %>
  <div class = "textforform">
    <div class= "form-input"> <%= f.input :brand, label: "Brand", placeholder: "e.g. Ferrari" %></div>
    <div class= "form-input"> <%= f.input :model, label: "Model", placeholder: "e.g. Enzo" %></div>
    <div class= "form-input"> <%= f.input :mileage, label: "Mileage", hint: "Please list the mileage in miles" %></div>
    <div class= "form-input"> <%= f.input :year, label: "Year", collection: 1950..2018 %></div>
    <div class= "form-input"> <%= f.input :body_type, label: "Body Type", placeholder: "e.g. Coupe", collection: %w(Convertible Coupe Sedan SUV Wagon) %></div>
    <div class= "form-input"> <%= f.input :location, label: "Location", placeholder: "Enter your address" %></div>
    <div class= "form-input"> <%= f.input :transmission, label: "Transmission",collection: %w(Automatic Manual) %></div>
    <div class= "form-input">  <%= f.input :price, label: "Price per day (USD)" %> </div>
    <div class= "form-input"> <%= f.input :photo %> </div>
    <div class= "form-input"> <%= f.input :photo_cache, as: :hidden %> </div>
    <div class="nice-button"><%= f.submit class: "btn btn-primary" %></div>
  </div>
<% end %>