<%= simple_form_for [unreviewed_booking, review], remote: true do |f| %>
  <div class = "textforform">
    <div class= "form-input rating"> <%= f.input :rating, as: :radio_buttons, collection: [1,2,3,4,5] %></div>
    <div class= "form-input"> <%= f.input :content %></div>
    <div class= "form-input"> <%= f.hidden_field :origin_controller, value: current_controller_name %></div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
